.interactivepdf-attempt-feedback {
    display: flex !important;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}
.interactivepdf-feedback-design {
    background-color: black;
    color: white;
}

.question-header {
    background: #8cae47;
    padding: 10px;
    color: #fff;
    font-weight: bold;
}

.question-body {
    background-color: #dcebd4;
    padding: 10px 30px;
    color:#000;
}

.attention {
    color: #413309;
    font-size: 20px;
    font-weight: bold;
}

.correct {
    font-size: 17px;
}

.color {
    background-color: #F2F2F2;
}