<link rel="stylesheet" href="../mod_interactivepdf_style.css">
<div class="py-3">
    <h5 class="bg-secondary text-center py-3">List of Students Who Attempt</h5>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Student Name</th>
            <th>Attempt Status</th>
            <th>Review</th>
        </tr>
        </thead>
        <tbody>
                {{#students}}
        <tr>
            <td>{{firstname}} {{lastname}}</td>
            <td>{{status}}</td>
            <td><a class="btn btn-outline-info" href="{{viewAttempt_url}}?id={{cmid}}&attemptid={{attempt}}&pageid={{pageid}}&studentid={{userid}}">Review</a></td>
        </tr>
                {{/students}}
        </tbody>
    </table>
</div>