<div>
    <h5>Header List</h5>

        <table class="table table-bordered">
         {{#is3nType}}
            <thead>
            <tr>
                <th>Header 1</th>
                <th>Header 2</th>
                <th>Header 3</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            {{#records3n}}
            <tr>
                <td>{{header1}}</td>
                <td>{{header2}}</td>
                <td>{{header3}}</td>
                <td><a class="btn btn-info" href="header_edit.php?id={{cid}}&pageid={{pageid}}&questionid={{questionid}}&subquesid={{subquesid}}&type={{type}}">Edit</a></td>
                <td><a class="btn btn-danger" href="header_edit.php?id={{cid}}&pageid={{pageid}}&questionid={{questionid}}&subquesid={{subquesid}}&type={{type}}&action=delete">Delete</a></td>
            </tr>
            {{/records3n}}
            </tbody>
         {{/is3nType}}
        </table>
        <table class="table table-bordered">
        {{#is2nsType}}
            <thead>
            <tr>
                <th>Header 1</th>
                <th>Header 2</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            {{#records2ns}}
                <tr>
                    <td>{{header1}}</td>
                    <td>{{header2}}</td>
                    <td><a class="btn btn-info" href="header_edit.php?id={{cid}}&pageid={{pageid}}&questionid={{questionid}}&subquesid={{subquesid}}&type={{type}}">Edit</a></td>
                    <td><a class="btn btn-danger" href="header_edit.php?id={{cid}}&pageid={{pageid}}&questionid={{questionid}}&subquesid={{subquesid}}&type={{type}}&action=delete">Delete</a></td>
                </tr>
            {{/records2ns}}
            </tbody>
        {{/is2nsType}}
    </table>
    <table class="table table-bordered">
        {{#is2nmType}}
            <thead>
            <tr>
                <th>Header 1</th>
                <th>Header 2</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            {{#records2nm}}
                <tr>
                    <td>{{header1}}</td>
                    <td>{{header2}}</td>
                    <td><a class="btn btn-info" href="header_edit.php?id={{cid}}&pageid={{pageid}}&questionid={{questionid}}&subquesid={{subquesid}}&type={{type}}">Edit</a></td>
                    <td><a class="btn btn-danger" href="header_edit.php?id={{cid}}&pageid={{pageid}}&questionid={{questionid}}&subquesid={{subquesid}}&type={{type}}&action=delete">Delete</a></td>
                </tr>
            {{/records2nm}}
            </tbody>
        {{/is2nmType}}
    </table>

</div>
<hr>
<div class="py-3">
<!--    <h5>Child Questions</h5>-->

    <div>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                <tr>
                    {{^is2nmType}}
                    <th>Question</th>
                    {{/is2nmType}}
                    {{#is2nsType}}
                        <th>Answer</th>
                    {{/is2nsType}}
                    {{#is3nType}}
                        <th>Answer 1</th>
                        <th>Answer 2</th>
                    {{/is3nType}}
                    {{#is2nmType}}
                        <th>Answer 1</th>
                        <th>Answer 2</th>
                    {{/is2nmType}}
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                {{#childQuestions}}
                    <tr>
                        {{^is2nmType}}
                            <td>{{question_text}}</td>
                        {{/is2nmType}}
                        {{#is2nsType}}
                            <td>{{right_ans}}</td>
                        {{/is2nsType}}
                        {{#is3nType}}
                            <td>{{right_ans1}}</td>
                            <td>{{right_ans2}}</td>
                        {{/is3nType}}
                        {{#is2nmType}}
                            <td>{{right_ans1}}</td>
                            <td>{{right_ans2}}</td>
                        {{/is2nmType}}
                        <td><a class="btn btn-info" href="child_edit_question.php?id={{cid}}&pageid={{pageid}}&questionid={{questionid}}&subquesid={{subquesid}}&childquesid={{id}}&type={{type}}">Edit</a></td>
                        <td>
                            <a class="btn btn-danger" href="#" data-toggle="modal" data-target="#deleteModal{{id}}">Delete</a>
                            <div class="modal fade" id="deleteModal{{id}}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="deleteModalLabel">Confirm Deletion</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            Are you sure you want to delete this child question?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                            <a class="btn btn-danger" href="child_edit_question.php?id={{cid}}&pageid={{pageid}}&questionid={{questionid}}&subquesid={{subquesid}}&childquesid={{id}}&type={{type}}&action=delete">Delete</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                {{/childQuestions}}
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="bg-light py-2 px-2">
    <a class="btn btn-outline-primary" href="header_question.php?id={{cid}}&pageid={{pageid}}&questionid={{questionid}}&subquesid={{subquesid}}&type={{type}}">Add More</a>
    <a class="btn btn-outline-danger" href="view_question.php?id={{cid}}&pageid={{pageid}}&questionid={{questionid}}">BACK</a>
</div>
