{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_interactivepdf/quiz_template


    Example context (json):
    {

    }
}}
<link rel="stylesheet" href="../mod_interactivepdf_style.css">

<h3 class="text-center py-4 bg-gray">Questions</h3>
<table class="table table-bordered">
    <thead>
    <tr>
        <th class="align-left">Question</th>
        <th class="align-left">Edit</th>
        <th class="align-left">Delete</th>
    </tr>
    </thead>
    <tbody>
    {{#quizzes}}
        <tr class="text-left">
            <td><a class="" href="view_question.php?id={{id}}&pageid={{pageid}}&questionid={{quizid}}">{{{question}}}</a></td>
            <td>
                {{#is_short_question}}
                    <a class="btn btn-info" href="edit_quiz.php?id={{id}}&pageid={{pageid}}&contentid={{content_id}}&quizid={{quizid}}&mode=shortques">Edit</a>
                {{/is_short_question}}
                {{#is_mcq}}
                    <a class="btn btn-info" href="edit_quiz.php?id={{id}}&pageid={{pageid}}&contentid={{content_id}}&quizid={{quizid}}&mode=mcq">Edit</a>
                {{/is_mcq}}
            </td>
            <td>
                <a class="btn btn-danger" href="delete_quiz.php?id={{id}}&pageid={{pageid}}&content_id={{content_id}}&quizid={{quizid}}">Delete</a>
            </td>
        </tr>
    {{/quizzes}}
    </tbody>
</table>