<link rel="stylesheet" href="../mod_interactivepdf_style.css">
{{#enable}}

<div class="container-fluid tertiary-navigation">
    <div class="row">
        <div class="singlebutton quizstartbuttondiv">
            <form method="post" action="{{{formurl}}}">
                <input type="hidden" name="id" value="{{cmid}}">
                <input type="hidden" name="prev_attempt" value="{{prev_attempt}}">
                <button type="submit" class="btn btn-primary" id="single_button6492d726efe5624">Re-attempt quiz</button>
            </form>
        </div>
    </div>
</div>
{{/enable}}
{{^enable}}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h5>{{{attempt_text}}}</h5>
    </div>
{{/enable}}

<div class="py-5">
    <h3>Summary of your previous attempts</h3>
    <table class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>Attempt</th>
            <th>Status</th>
            <th>Review</th>
        </tr>
        </thead>
        <tbody>
        {{#attempts}}
        <tr>
            <td>{{attempt}}</td>
            <td>{{status}}</td>
            <td><a class="btn btn-outline-info" href="{{viewAttempt_url}}?attemptid={{attempt}}&id={{cmid}}&pageid={{pageid}}">Review</a></td>
        </tr>
        {{/attempts}}
        </tbody>
    </table>
</div>