{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_interactivepdf/view_question


    Example context (json):
    {

    }
}}
<link rel="stylesheet" href="../mod_interactivepdf_style.css">

{{#questions}}
    <div class="py-2">
        <h5 class="bg-light text-center">{{{ques}}}</h5>
    </div>
{{/questions}}
<div class="py-3 d-flex">
<!--    <a class="add-content-btn text-decoration-none" href="sub_question.php?id={{cid}}&pageid={{pageid}}&questionid={{questionid}}"><div class="bg-success text-white p-3 rounded shadow ml-2">Add Sub Question</div></a>-->
    <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" id="addSubQuestionDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Add Sub Question
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="sub_question.php?id={{cid}}&pageid={{pageid}}&questionid={{questionid}}&type=shortques">Add short question</a></li>
            <li><a class="dropdown-item" href="single_question.php?id={{cid}}&pageid={{pageid}}&questionid={{questionid}}&type=2ns">Add 2n Single table</a></li>
            <li><a class="dropdown-item" href="multi_question.php?id={{cid}}&pageid={{pageid}}&questionid={{questionid}}&type=2nm">Add 2n Multiple table</a></li>
            <li><a class="dropdown-item" href="nquestion.php?id={{cid}}&pageid={{pageid}}&questionid={{questionid}}&type=3n">Add 3n table</a></li>
        </ul>
    </div>
    <a class="add-content-btn text-decoration-none" href="quiz.php?id={{cid}}&pageid={{pageid}}"><div class="bg-danger text-white p-2 rounded shadow ml-2">Back</div></a>
</div>

<div class="py-2">
        <p class="font-weight-bold">List of sub questions:</p>
</div>
<div>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th class="align-left">Question</th>
            <th class="align-left">Type</th>
            <th class="align-left">Answer</th>
            <th class="align-left">Add Header Answer</th>
            <th class="align-left">View Table</th>
            <th class="align-left">Edit</th>
            <th class="align-left">Delete</th>
        </tr>
        </thead>
        <tbody>
        {{#subques}}
            <tr class="">
                <td class="text-left">{{question_text}}</td>
                <td class="text-left">{{type}}</td>
                <td class="text-left">{{correct_ans}}</td>
                <td>
                    {{#is_2ns_type}}
                        <a class="btn btn-primary text-left" href="header_question.php?id={{cid}}&pageid={{pageid}}&questionid={{questionid}}&subquesid={{id}}&type={{type}}">Add Header Answer</a>
                    {{/is_2ns_type}}
                    {{#is_2nm_type}}
                        <a class="btn btn-primary text-left" href="header_question.php?id={{cid}}&pageid={{pageid}}&questionid={{questionid}}&subquesid={{id}}&type={{type}}">Add Header Answer</a>
                    {{/is_2nm_type}}
                    {{#is_3n_type}}
                        <a class="btn btn-primary text-left" href="header_question.php?id={{cid}}&pageid={{pageid}}&questionid={{questionid}}&subquesid={{id}}&type={{type}}">Add Header Answer</a>
                    {{/is_3n_type}}
                </td>
<!--                <td><a class="btn btn-success text-left" href="child_question.php?id={{cid}}&pageid={{pageid}}&questionid={{questionid}}&subquesid={{id}}&type={{type}}">View Answers</a></td>-->
                {{^isShortquesType}}
                    <td><a class="btn btn-success text-left" href="child_question.php?id={{cid}}&pageid={{pageid}}&questionid={{questionid}}&subquesid={{id}}&type={{type}}">View Table</a></td>
                {{/isShortquesType}}
                {{#isShortquesType}}
                    <td></td>
                {{/isShortquesType}}
                <td><a class="btn btn-info text-left" href="edit_question.php?id={{cid}}&pageid={{pageid}}&questionid={{questionid}}&subquesid={{id}}&type={{type}}">Edit</a></td>
                <td>
                    <a class="btn btn-danger text-left" href="#" data-toggle="modal" data-target="#deleteModal{{id}}">Delete</a>
                    <div class="modal fade" id="deleteModal{{id}}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="deleteModalLabel">Confirm Deletion</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Are you sure you want to delete this subquestion?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                    <a class="btn btn-danger" href="edit_question.php?id={{cid}}&pageid={{pageid}}&questionid={{questionid}}&subquesid={{id}}&type={{type}}&action=delete">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        {{/subques}}
        </tbody>
    </table>
</div>
